:root {
    --color-primary: black;
    --color-secondary: white;
    --color-terciary: #FCA311;
    --color-terciary-low: #fca21196;
    --color-quart: #CCCCCC;

    background-color: var(--color-primary);

    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}


.Nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.Nav-ai {
    display: flex;
    align-items: center;
}

.Nav-ai-reproductor {
    color: white;
    display: flex;
    flex-direction: column;
}

.iconPause {
    color: var(--color-secondary);
    margin-right: 30px;
}


.Nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0px 20px 20px 20px;

}

.Nav-list-item {

    color: var(--color-terciary);
}

.Nav-list-item a {

    color: var(--color-terciary);
}


.Nav-list-item-icon {
    font-size: 150%;
}

.Nav-list-item-icon--big {
    font-size: 340%;
}

.Reproductor {
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;

    background-color: black;
}

.Reproductor-cerrar {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: transparent;

}

.Reproductor-cerrar-btn {
    background-color: transparent;
    border: 0;
}

.Reproductor-contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 30px;
}

.Reproductor-contenedor-image {
    box-shadow: 1px 1px 3px #888888;
    width: 300px;
    height: 300px;
}

.Reproductor-contenedor-cancion {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px
}

.Reproductor-contenedor-cancion-tit {
    font-size: 110%;
}

.Reproductor-contenedor-cancion-artist {
    font-weight: 200;
}

.Reproductor-contenedor-tiempos {
    color: white;
    display: flex;
    align-items: center;
    font-size: 60%;
    font-weight: 300;
    margin-top: 20px;
}

.Reproductor-contenedor-tiempos-barra {
    width: 38vh;
    height: 2px;
    background-color: white;
    margin: 5px;
}

.Reproductor-contenedor-botones {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    width: 100%;
    margin-top: 60px;


}

.BolaReproductor {
    animation-name: reproducir;
    animation-duration: 60s;
    animation-iteration-count: infinite;

}

@keyframes reproducir {
    0% {
        left: 60px;

    }

    100% {
        left: 308px;

    }
}

.u-flex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.u-centrar {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-marginRight {
    margin-right: 20px;
}

.u-colorTerciary {
    color: var(--color-terciary);
}

.u-iconBig {
    font-size: 400%;
}
.u-iconSemiBig {
    font-size: 170%;
}

.isnot-active {
    display: none;
}

.paused {
    animation-play-state: paused;
}
svg{
    transform: none;
}