:root{
    --color-primary:black;
    --color-secondary: white;
    --color-terciary:#FCA311;
    --color-terciary-low:#fca21196;
    --color-quart:#CCCCCC;

    background-color: var(--color-primary);

    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}

.Container-tit{
    color: var(--color-terciary);
    width: 100%;
    text-align: center;
    font-size: 140%;
    margin: 0;
}
.Container-tit-2{
    font-size: 70%;
    color: var(--color-terciary);
    display: block;
    width: 100%;
    text-align: center;
}

.Container-form{
   background-color: var(--color-quart);
   display: flex;
   align-items: center;
   background-color: var(--color-terciary-low);
   border-radius: 50px;
   margin-top: 10px;
   border: 0;

   
}

.Container-form-input{
    flex-grow: 1;
    background-color: transparent;
    border: 0;
    padding: 20px;
    color:var(--color-terciary);
}  
   

::placeholder {
    color:var(--color-terciary);
  
}

.Container-form-button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.Nav{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.Nav-ai{
    display: flex; align-items: center;
}

.Nav-ai-reproductor{
    color:white;
    display: flex;
    flex-direction: column;
}

.iconPause{
    color: var(--color-secondary);
    margin-right: 30px;
}


.Nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0px 20px 20px 20px;
    
}
.Nav-list-item{
    
    color:var(--color-terciary);
}

.Nav-list-item-icon{
    font-size: 150%;
}

.Nav-list-item-icon--big{
    font-size: 350%;
}

.u-flex{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.u-centrar {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-marginRight{
    margin-right: 20px;
}

.u-colorTerciary{
    color: var(--color-terciary);
}


