.contenidoAlbum {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  width: 100%;
  background-color: black;
  padding-bottom: 35%;
}

.portadaAlbum {
  width: 100%;
}

.imagenPortada {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.Atras--album {
  background-color: rgba(0, 0, 0, 0.276);
}
.nombreArtista {
  color: white;
  font-family: 'karla';
  margin-left: 1rem;
}
.nombres {
  display: flex;
  flex-direction: column;
}
.nombreArtistaAlbum {
  color: rgba(255, 255, 255, 0.641);
  font-family: 'karla';
  margin-left: 1rem;
}

.acciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: white;
}

.textoArtista {
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  font-weight: lighter;
  font-size: x-small;
  color: rgba(255, 255, 255, 0.619);
}

.textoCancion {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.cardArtista {
  display: flex;
  flex-flow: row;
  margin-bottom: 1rem;
  width: auto;
  margin-left: 1rem;
}
.imagenGrupo {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.textoCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}
.cancionesdelArtista {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}
