*{
    margin: 0px;
}

:root {
    --primary: #E600A0;
    --secondary: #0055E6;
    --third: #BBE601;
    --black: #000000;
    --white: #FFFFFF;
    --violet: blueviolet;

}

.Contenedor{
    width: 100%;
    height: 100vh;
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
}

/* Flecha superior de retroceso */

.Atras{
    width: 100%;
    height: 10%;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: fixed;
}

a{
    margin-left: 10px;
}

/* Menu de navegación superior */

.MenuSuperior{
    width: 100%;
    height: 22%;
    background-color: var(--black);
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 18%;
}

.MenuSuperior-opcion{
    width: 20%;
    height: 60%;
    background-color: blanchedalmond;
    margin:10px;
    border-radius: 20%;
    display: inline-block;
}

.MenuSuperior-opcion i{
    margin-left: 18%;
    margin-top: 10%;
}

/* Reproductor fijo encima de la nav inferior */

.Reproductor{
    width: 100%;
    height: 10%;
    background-color: var(--black);
    position: fixed;
    bottom:10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Info de la canción */
.Foto{
    width: 20%;
    height: 94%;
    /*background-color: rgb(255, 255, 255);*/
    display: flex;
    justify-content: center;
}

.Foto img{
    width: 80%;
    border-radius: 10%;
}

.Info{
    width: 80%;
    height: 94%;
    /*background-color: rgb(232, 39, 39);*/ 
    padding-left: 20px;
}

/* Div de los botones de la canción */

.Reproducir{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.Reproducir i{
    margin-right: 10%;
}


/* Ajustes menú inferior de navegación */
.MenuInferior{
    width: 100%;
    height: 10%;
    background-color: var(--black);
    opacity: .9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
}

.MenuInferior-opcion{
    width: 15%;
    height: 50%;
    /*background-color: blanchedalmond;*/
    margin:8px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

.MenuInferior-opcion:active{
    background-color:var(--black);
    opacity: .5;
}

.MenuInferior-opcion a{
    margin: 0px;
    padding: 0px;
}

/* El botón de la aniamción */

.IA{
    display: none;
}

/* Los botones que salen de la IA */

.IA-option{
    background-color: var(--black);
    width: 50px;
    height: 50px;
    display: flex;
    margin-bottom: 20px;
    border-radius: 50%;
    right: 10px;
    position: relative;
    opacity: .7;
    align-items: center;
    justify-content: center;
}

/* Estilo del menú que aparece de la IA */

.mystyle {
    width: 20%;
    right: 10px;
    bottom: 10%;
    height: 30%;
    padding-left: 30px;
    /*background-color: rgb(135, 80, 255, .5);*/
    color: white;
    font-size: 25px;
    box-sizing: border-box;
    position:fixed;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Clases de los estilos de iconos */

.icono-atras {
    font-size: 1.2em;
    color: var(--white);
}

.icono-reproductor{
    font-size: 1em;
    color: var(--white);
}

.icono-nav {
    font-size: 1.2em;
    color: var(--violet);
}

.icono-superior{
    font-size: 3em;
    color:var(--primary);
}

.icono-IA{
    font-size: 20px;
    color:var(--primary);
}