@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {

    background-color: #260836;
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {

    --default-BG-color: #260836;
    --default-box-color: #3e097a;
    --default-box2-color: #7558d4;
    --default-menu-color: #d6c3ed;
    --default-highlight-color: #fffac3;
    --default-text-color: #ffffff;

}