@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {

    background-color: #260836;
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {

    --default-BG-color: #260836;
    --default-box-color: #3e097a;
    --default-box2-color: #7558d4;
    --default-menu-color: #d6c3ed;
    --default-highlight-color: #fffac3;
    --default-text-color: #ffffff;

}



.Fullscreen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

/*------------Reproductor musica-----------*/

.Reproductor {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    background-color: var(--default-box-color);
    height: 8%;
    width: 100vw;

}

.Line {
    background-color: var(--default-text-color);
    width: 75%;
    height: 3%;
    margin-top: 20px;

}

.Rep-circle {
    position: relative;
    margin-top: -6px;
    margin-bottom: 0px;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--default-text-color);
    animation-name: Play;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.Rep-icons {
    color: var(--default-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 5px;
}

.Rep-song {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    padding: 10px;
}

.Rep-song img {
    object-fit: cover;
    width: 50px;
    height: 50px;

}

@keyframes Play {

    0% {
        left: 0px;
        top: 0px;
    }

    100% {
        left: 100%;
        top: 0px;
    }
}

/*---------------------Playlist---------------------*/


.Search-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15%;
}

.Search-container #Search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Search-text {
    padding: 10px;
    padding-right: 70px;
    border: none;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 45%;
    height: 15px;
    margin-left: 30px;
}

.Search-container #Search-form button {

    padding: 10px;
    margin-left: 0;
    margin-left: 10px;
    background: var(--default-box2-color);
    color: var(--default-text-color);
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.Playlist {
    width: 90%;
    max-height: 57%;
    background-color: var(--default-box-color);
}

.Playlist-one {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 10%;
    padding: 20px;
}


.Playlist-img {
    width: 70px;
    height: 70px
}