@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {

    background-color: var(--default-BG-color);
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {

    --default-BG-color: #260836;
    --default-box-color: #3e097a;
    --default-box2-color: #7558d4;
    --default-menu-color: #d6c3ed;
    --default-highlight-color: #fffac3;
    --default-text-color: #ffffff;

}

/* Boton modo claro*/

.light-mode {
    --default-box-color: #ffffff;
    --default-box2-color: #7558d4;
    --default-menu-color: #3e097a;
    --default-highlight-color: #260836;
    --default-text-color: #322f3f;
    --default-BG-color: #d6c3ed;
}

.lightModeBtn {
    background-color: var(--default-box2-color);
    font-size: 16px;
    margin-top: 22px;
    height: 30px;
    color: var(--default-menu-color);
    border: solid var(--default-box2-color);
    border-radius: 10px;
    text-align: center;
}

/* -------------Boton modo claro---------------------------*/


.Fullscreen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

/*Menu Bottom*/

.MenuBottom {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 75px;
    background-color: var(--default-menu-color);
    color: var(--default-BG-color);
    display: flex;
    font-size: 40px;
    justify-content: space-around;
    padding: 2%;
    align-items: center;
}

.MenuBottom-btn {
    color: var(--default-box-color);
    text-decoration: none;
}


/*------------Reproductor musica-----------*/

.Reproductor {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 90px;
    background-color: var(--default-box-color);
    height: 8%;
    width: 100vw;
    overflow: hidden;
    box-shadow: 0px -5px 18px var(--default-BG-color);
    border-radius: 10px;

}

.Line {
    background-color: var(--default-text-color);
    width: 75%;
    height: 3%;
    margin: auto;
    margin-top: 10px;

}

.Rep-circle {
    position: relative;
    margin-top: -6px;
    margin-bottom: 0px;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--default-text-color);
    animation-name: Play;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.Rep-name-song {
    width: 100%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.Rep-h2 {
    font-size: 12px;
    color: var(--default-text-color);
    margin: 0 auto;
}

.Rep-h3 {
    font-size: 8px;
    color: var(--default-text-color);
    margin: 0 auto;
}

.Rep-icons {
    color: var(--default-text-color);
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    font-size: 14px;

}

.Rep-song {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    padding: 10px;
}

.Rep-song img {
    object-fit: cover;
    width: 50px;
    height: 50px;

}

@keyframes Play {

    0% {
        left: 0px;
        top: 0px;
    }

    100% {
        left: 100%;
        top: 0px;
    }
}

/*---------------------Playlist---------------------*/


.Search-container {
    display: flex;
    height: 15%;
}

.Search-container #Search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -60px;

}

.Search-text {
    padding: 10px;
    padding-right: 70px;
    border: none;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 45%;
    height: 15px;
}

.Search-container #Search-form button {

    padding: 10px;
    margin-left: 0;
    margin-left: 10px;
    background: var(--default-box2-color);
    color: var(--default-text-color);
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.Playlist {
    width: 100%;
    max-height: 66%;
    background-color: var(--default-box-color);
    overflow: scroll;
    border-radius: 10px;
    margin-bottom: 160px;
    margin-top: 30px;
}

.Playlist-one {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 4%;
    padding: 25px;
    color: var(--default-text-color);
    font-size: 10px;
    box-shadow: 0px 1px 4px var(--default-menu-color);
}


.Playlist-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.Playlist-title {
    color: var(--default-text-color);
    margin-bottom: 0px;
}

.Playlist-column {
    display: flex;
    flex-direction: column;
}


.Fieldset-height {
    max-height: 150px;
    overflow: scroll;
}

.Popup-title {
    position: fixed;
    color: var(--default-text-color);
    margin-bottom: 30px;
}

.Popup-playlist {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 2px 10px var(--default-box2-color);
    background-color: var(--default-BG-color);
}

.Popup-playlist--name {
    font-size: 14px;
    color: var(--default-text-color);
}

.Popup-playlist--artist {
    font-size: 8px;
    color: var(--default-text-color);
}

.Playlist-artist {
    margin-top: -11px;
    font-size: 10px;
}




/*--------------------------- Index------------------------- */

.Ai-background {
    width: 200px;
    background-color: var(--default-menu-color);
    height: 200px;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Ai-words {
    color: var(--default-text-color);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.Options {
    background-color: var(--default-box-color);
    width: 100vw;
    height: 50%;

}

.Options-emotion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 30px;
    font-size: 30px;
    color: var(--default-BG-color);

}


.Options-emotion-general {
    background-color: var(--default-menu-color);
    height: 60px;
    width: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Search-text-ai {
    padding: 10px;
    padding-right: 70px;
    border: none;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 70%;
    height: 15px;

}

.Micro-icon {
    color: var(--default-text-color);
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.Micro-icon :hover {

    font-size: 90px;
    color: var(--default-highlight-color);
    transition: color 0.3s;
}

.Search-container-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 15%;
}

.Search-container-center #Search-form {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.Search-container-center #Search-form button {

    padding: 10px;
    margin-left: 0;
    margin-left: 10px;
    background: var(--default-box2-color);
    color: var(--default-text-color);
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*--------------Explorador------------------*/

.Filter {

    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 70%;
    width: 100vw;
}

.Filter-child1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;

}

.Filter-child2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.Filter-type {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--default-text-color);
    background-color: #7558d4;
    height: 80px;
    width: 80%;
    border-radius: 10px;
    border: 3px solid var(--default-box2-color);
}

.Filter-text {
    font-size: 20px;
}

.Explorador-title {
    color: var(--default-text-color);
    margin-bottom: 0px;

}

.Pop {
    background-image: url(/img/explorer/Explorer-pop.png);
    background-size: cover;
}

.Rock {
    background-image: url(/img/explorer/Explorer-rock.png);
    background-size: cover;

}

.Latina {
    background-image: url(/img/explorer/Explorer-latina.png);
    background-size: cover;
}

.Metal {
    background-image: url(/img/explorer/Explorer-metal.png);
    background-size: cover;
}

.Jazz {
    background-image: url(/img/explorer/Explorer-jazz.png);
    background-size: cover;
}

.Kpop {
    background-image: url(/img/explorer/Explorer-kpop.png);
    background-size: cover;
}

.Clasica {
    background-image: url(/img/explorer/Explorer-clasicos.png);
    background-size: cover;
}

.Flamenco {
    background-image: url(/img/explorer/Explorer-flamenco.png);
    background-size: cover;
}

.Rap {
    background-image: url(/img/explorer/Explorer-rap.png);
    background-size: cover;
}

.Baladas {
    background-image: url(/img/explorer/Explorer-baladas.png);
    background-size: cover;
}

/*---------------------------------Popup---------------------------------------*/

.Overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 500ms;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.Overlay:target {
    visibility: visible;
    opacity: 1;
}

.Popup {
    margin: 180px auto;
    padding: 40px 20px 20px 20px;
    background: var(--default-box-color);
    border-radius: 10px;
    width: 70%;
    position: relative;
    transition: all 3s ease-in-out;
}

.Popup h2 {
    margin-top: 0;
    color: var(--default-text-color);
    text-align: center;
}

.Popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--default-text-color);
}

.Popup .Content {
    max-height: 50%;
    overflow: auto;
    font-size: 20px;
    color: var(--default-text-color);
    text-align: left;
    padding: 0px 10px;
    width: 500px;
}

#popup_form {
    margin: 0px 20px;
    padding: 0;
}

#check_button {

    padding: 10px;
    background-color: var(--default-highlight-color);
    font-size: 20px;
    padding: 8px 80px;
    border: solid var(--default-highlight-color);
    border-radius: 10px;
    text-align: center;
    margin: 10px 20px;
    color: var(--default-BG-color);
}

fieldset {
    border: 2px solid var(--default-box2-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

legend {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: var(--default-menu-color);
}

.Search-text-popup {
    padding: 10px;
    padding-right: 70px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    width: 45%;
    height: 15px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.Recommended-artist-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.Recommended-artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Recommended-artist--name {
    font-size: 12px;
    color: var(--default-text-color);

}

.Recommended-artist img {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    object-fit: cover;
    box-shadow: 1px 1px 4px #261c39;
}

.Special {
    color: var(--default-text-color);
}