
div {
    margin-top: 8px;
}

/*Header*/

.LogoPicture-img {
    margin-left: 16px;
}

.ProfilePicture {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    margin-right: 5px;

    
}

.ProfilePicture-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 0;
}


span {
    font-size: 16px;
    font-weight: bold;

}

.Brand-name {
    display: flex;
}

.Brand-name1 {
    font-size: 16px;
    font-weight: bold;
    color: var(--links);
}

.Brand-name2 {
    font-size: 16px;
    font-weight: bold;
    color: black;

}


/*Title*/


.Title {

    height: 40px;
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;

}

.Title h2 {
    font-size: 32px;
    margin-bottom: 0px;
    font-weight: 700;
}



/*Search*/

.Search input {

    width: 328px;
    height: 47px;
    border-radius: 10px;
    border: none;
    background: #F1EAF6;
    outline: none;
    

}

::placeholder {
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.Search img {
    margin-left: 8px;
    margin-right: 8px;
}



.Search {

    border-radius: 10px;
    background: #F1EAF6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 24px;
    margin-right: 24px;
}


h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

/*Carousel*/

.Carousel {

    display: flex;
    flex-direction: column;
    padding: 16px;

}

#Carouselbottom {
    margin-bottom: 60px;
}

.Cards-group {
    display: flex;
    gap: 16px;
    height: 300px;
    overflow-x: scroll;
}

.Cards-group::-webkit-scrollbar {
    display: none;
}

/*Card*/

.Card {
    width: 254px;
    height: 283px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);

}

.Card a {
    text-decoration: none;
    color: inherit;
}

.Card p {
    font-size: 12px;
}

#Subtitle-card {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: grey;
    margin-left: 16px;
    margin-bottom: 8px;
}

#Title-card {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    margin-left: 16px;
}


.Card img {
    border-radius: 8px;
}




