.Container-tit {
    color: var(--color-terciary);
    width: 100%;
    text-align: center;
    font-size: 140%;
    margin: 0;
    margin-top: 50px;
}

.Container-tit-2 {
    font-size: 70%;
    color: var(--color-terciary);
    display: block;
    width: 100%;
    text-align: center;
}

.Container-form {
    background-color: var(--color-quart);
    display: flex;
    align-items: center;
    background-color: var(--color-terciary-low);
    border-radius: 50px;
    margin-top: 10px;
    border: 0;


}

.Container-form-input {
    flex-grow: 1;
    background-color: transparent;
    border: 0;
    padding: 20px;
    color: var(--color-terciary);
}

/*PARA LOS DESTACADO RECICLO DATOS DE ARTISTA.CSS con ligeras modificaciones*/
.Container-songs {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 30px;
    margin-top: 20px;
}

.Container-songs-song {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-size: 80%;
    margin-left: 20px;
    align-items: center;
}


::placeholder {
    color: var(--color-terciary);

}

.Container-form-button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.Interaccion {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    background-color: black;
}

.Interaccion-title {
    color: #FCA311;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 10px;
}