*{
   font-family: 'Karla';
   background-color: black;
}

.Contenedor{
   width: 100%;
   height: 100vh;
   /*background-color: aqua;*/
   display: flex;
   flex-direction: column;
}

.Info{
   margin: 5%;
   color:white;
   background-color: black;
}