html {
    scroll-snap-type: y mandatory;
}

body {
    margin: 0;
    background-color: black;

}
*{
    box-sizing: border-box;
} 

.Header {
    background: url(../shorts/header-shorts.png);
    background-size: contain;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    align-items: flex-start;
    margin-top: 0px;
    display: none;
}

.Profile-image {
    margin-top: 15px;
}

.Brand-name {
    margin-top: 10px;
}

.Brand-name2 {
    color: white;
}

.Short-video {
    object-fit: cover;
    height: 100vh;
    scroll-snap-align: start;
    
}

.ShortsContainer::-webkit-scrollbar {
    display: none;
}

.Short {
    flex: 1;
}


