body {

    background-color: #260836;
    font-family: 'Quicksand';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {

    --default-BG-color: #260836;
    --default-box-color: #3e097a;
    --default-box2-color: #7558d4;
    --default-menu-color: #d6c3ed;
    --default-highlight-color: #fffac3;
    --default-text-color: #ffffff;

}

.btnLody{
    position: fixed;
    width: 150px;
    right: -15px;
}

/*Menu Bottom*/

.MenuBottom{
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 75px;
    background-color: var(--default-menu-color);
    color: var(--default-BG-color);
    display: flex;
    font-size: 40px;
    justify-content: space-around;
    padding: 2%;
    align-items: center;
}

.MenuBottom-btn{
    color: var(--default-box-color);
}

/*Perfil*/
.Profile{
    margin-bottom: 200px;
}

.Bio{
    background-color: var(--default-box2-color);
    border-radius: 10px;
    margin: 5%;
    display: flex;  
    padding: 2%;
    color: var(--default-text-color);   
}

.Bio-btn{
    background-color: var(--default-highlight-color);
    text-decoration: none;
    border-radius: 5px;
    padding: 1%;
    color: var(--default-BG-color);
    font-weight: 600;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.Bio-img{
    width:100px;
    height:100px;
    border-radius:150px;
    object-fit: cover; 
    box-shadow:  1px 1px 4px #261c39;
    background-color: white;
}

.Bio-info{
    padding: 2%;
    display: flex;
    flex-direction: column;
}


.Profile-Playlists{
    background-color: var(--default-box-color);
    border-radius: 10px;
    margin: 5%;
    display: flex;
    padding: 2%;
    color: var(--default-menu-color);
    overflow: scroll;
}

.Profile-Playlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.Playlist-img{
    width: 155px;
    height: 155px;
    border-radius: 5px;
    object-fit: cover;
}

.Profile-Artists{
    background-color: var(--default-box-color);
    border-radius: 10px;
    margin: 5%;
    display: flex;
    padding: 2%;
    color: var(--default-menu-color);
    gap: 15px;
    overflow: scroll;
}

.Profile-Artist{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.Artist-img{
    width:75px;
    height:75px;
    border-radius:150px;
    object-fit: cover; 
    box-shadow:  1px 1px 4px #261c39;
    background-color: white;
}

.Artist-name{
    font-size: 14px;
}



