main {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 80px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.Main::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

*{
    box-sizing: border-box;
} 


.Header {
    background: url(../shorts/header-shorts.png);
    background-size: contain;
    position: fixed;
    height: 80px;
    z-index: 1;
    align-items: flex-start;
    margin-top: 0px;
}

.Profile-image {
    margin-top: 15px;

}

.Brand-name {
    margin-top: 10px;
    padding-right: 120px;
}

.Brand-name2 {
    color: white;
}

.Short-video {
    object-fit: cover;
    height: 100vh;
    scroll-snap-align: start;
    
}


.Short {
    flex: 1;
}

.Bottombar {
    box-sizing: content-box;
    position: fixed;
    z-index: 1;
}

.Bottombar ul {
    box-sizing: content-box;
}

.Bottombar ul li {
    box-sizing: content-box;
}

