
* {
    margin: 0;
    padding:0;
    font-family: 'Montserrat';
}

body {
    background-color: #E1DCFF;
}

div {
    margin: 0;
}

.Header {
    background-color: #E1DCFF;
}

.Header {
    display: flex;
    justify-content: center;
    background-color: #E1DCFF;
    margin: 0;
    position: fixed;
    width: 100vw;
   
}


.Header a {
    margin: 0;
    flex-direction: display;
    align-items: center;
    margin-top: 4px;
}

.Header a img {
    margin: 0;
   
}

.Imagencancion img {
    width: 235px;
height: 235px;
border-radius: 24px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}




/*ProgressBar*/

.ProgressBarPink {
   
    width:75%;
height: 10px;
background-color: #CDD9E3;
border-radius: 24px;
}

.ProgressBar {
    width: 207px;
    height: 10px;
    border-radius: 24px;
    background-color:var(--links);
}

.ProgressBarText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 200;
}
