/* Librería de colores */


:root {
    --button-primary: #8772FE;
    --button-secundary: #E8DDF1;
    --links: #FD1887;
    --background1: #FDD4D8;
    --background2: #F1EAF6;



}


/* ------------------------- */

/* Batman */

.Aitman a {
    width: 98px;
    height: 99px;
    border-radius: 126.5px;
    border: 10px solid var(--links);
    position: fixed;
    right: 8px;
    bottom: 80px;
    background: url(../images/batman.gif);
    background-size: 250%;
    background-position: center;
    background-position-y: -48px;
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);

}


/* Bottom menu */

.Bottombar a {
    list-style: none;
    text-decoration: none;
    padding: 16px;
    align-items: center;



}

.Bottombar {
    width: 100vw;
    height: 67px;
    border-radius: 24px 24px 0px 0px;
    background: #E8DDF1;
    bottom: auto;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.Bottombar ul {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100%;
    
    
   
   
    
}

.Bottombar ul li {
    align-items: center;
    position: sticky;
}

/* ------------------------- 

    <div class="Aitman">
    <a href="#">
    </a>
</div>


<div class="Title">
    Hi, Martha
</div>

<div class="Search">

    <img src="Icons/search-magnifiying-glass.svg" alt="">
    <input type="search" placeholder="Search music">

  


</div>

  
  
*/


/* ----------MENÚ BOTTOM--------------- 

<!--Menú bottom-->

<div class="Bottombar">
    <ul>
        <li>
            <a href="#">
                <img src="icons/Favoritos.svg" alt="">
            </a>

        </li>

        <li>
            <a href="#">
                <img src="icons/Home.svg" alt="">
            </a>
        </li>


        <li>
            <a href="#">
                <img src="icons/Shorts.svg" alt="">
            </a>

        </li>
    </ul>

</div>
*/