/* Librería de colores */


:root {
    --button-primary: #8772FE;
    --button-secundary: #E8DDF1;
    --links: #FD1887;
    --background1: #FDD4D8;
    --background2: #F1EAF6;



}


/* ------------------------- */

* {
    font-family: 'Montserrat';
}

body {
    margin: 0;
}

/* Batman */

.Aitman a {
    box-sizing: content-box;
    width: 98px;
    height: 99px;
    border-radius: 126.5px;
    border: 10px solid var(--links);
    position: fixed;
    right: 8px;
    bottom: 80px;
    background: url(../images/batman.gif);
    background-size: 250%;
    background-position: center;
    background-position-y: -48px;
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    z-index: 1;

}

.Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.ModalContent {
    background-color: #FFDEEE;
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
    min-height: 100vh;
    position: relative;
    animation-name: openchat;
    animation-duration: 0.5s;
}



.CloseModal {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.CloseModal:hover,
.CloseModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ChatHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25%;
}

.ChatHeader .ModalBrand-name {
    margin: 0px;
    margin-left: 130px;
    display: flex;
}

.ChatHeader .ModalBrand-name1 {
    font-size: 16px;
    font-weight: bold;
    color: var(--links);
}

.ChatHeader .ModalBrand-name2 {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.ChatHeader span img {
    margin-top: 5px;
}

.ChatContainer {
    background-color: white;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.ChatText {
    position: fixed;
    left: 145px;
    top: 100px;
    padding: 10px;
    background-color: var(--background2);
    border-radius: 10px;
    min-width: 150px;
    max-width: 180px;
    min-height: 40px;
    max-height: max-content;
    box-shadow: 3px 4px 10px lightgray;
    animation-name: aitman;
    animation-duration: 2s;
}

.ChatAitman a {
    box-sizing: content-box;
    width: 85px;
    height: 87px;
    border-radius: 126.5px;
    border: 10px solid var(--links);
    position: fixed;
    left: 15px;
    top: 100px;
    background: url(../images/batman.gif);
    background-size: 270%;
    background-position: center;
    background-position-y: -48px;
    display: block;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    animation-name: aitman;
    animation-duration: 2s;
    animation-timing-function: linear;

}



.ChatTail {
    position: fixed;
    left: 131px;
    top: 155px;
    animation-name: aitman;
    animation-duration: 2s;
    animation-timing-function: linear;
    

}

.ChatKeyboard {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: var(--background2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation-name: openchat;
    animation-duration: 1s;

}

.ChatKeyboard-text {
    width: 60%;
    height: 90%;
    margin-top: 0;
    display: flex;
    align-items: center;
}

.ChatKeyboard-icons {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ChatKeyboard-text input {
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;
    height: 30%;
    background-color: #f7f7f7;

}

@keyframes openchat {
    from {bottom: -1000px; opacity: 1}
    to {bottom: 0; opacity: 1}
}

@keyframes aitman {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

/* ------------------------- */

/* Header */

.Header {
   
    height: 53px;
    margin-top: 0px;
    margin-bottom: 30px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 26%; }

.Header a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 96px;
    text-decoration: none;
}
    
.LogoPicture-img {
        margin-left: 16px;
    }
    
    
span{
        font-size: 16px;
        font-weight: bold;
    
    }
    
.Brand-name {
        display: flex;
    }
    
.Brand-name1 {
        font-size: 16px;
        font-weight: bold;
        color: var(--links);
    }
.Brand-name2 {
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

/* ------------------------- */


/* Bottom menu */

.Bottombar a {
    list-style: none;
    text-decoration: none;
    padding: 16px;
    align-items: center;


}

.Bottombar {
    width: 100vw;
    height: 67px;
    border-radius: 24px 24px 0px 0px;
    background: #E8DDF1;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.Bottombar ul {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    justify-content: space-around;
    display: flex;
    align-items: center;
    margin: 0;
    width: 100vw;
    height: 67px;
    border-radius: 24px 24px 0px 0px;
    background: #E8DDF1;
    position: fixed;
    bottom: 0;
    padding-inline-start: 0px;
    
}

.Bottombar ul li {
    align-items: center;
    position: sticky;
}
